@font-face {
  font-family: 'Star wars';
  src: URL('starwars.ttf') format('truetype');
  } 

html,
body,
#app,
#app > div {
  font-family: 'Star wars';
  height: 100%;
  
}
#root {
  font-family: 'Star wars';
  height: 100%;
  background-image: url("https://cdn.eso.org/images/screen/eso1213a.jpg");
  object-fit: cover;
  }
.btn {
  color: #4460f7;
}
.w-10 {
  width: 10%;
}
.main {
  height: 80%;
}
.character-details-main-container-wrapper {
  height: 85%;
  width: 70%;
}
.character-conteiner-details {
  font-size: calc(1vw + 1vh + 1vmin) !important;

}
.character-name-details {
   font-size: calc(1.25vw + 1.25vh + 1vmin) !important;
}
.container-element {
  height: 100%;
}
.img-wrapper {
  max-height: 100vh;
  width: 0%;
}
.img-login {
  display: none;
  object-fit: cover;
  opacity: 0.4;
}
.img-empty {
  font-size: 3rem !important;
  color: #14a5ff;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
  font-weight: 600;
}
.img-yoda {
  object-fit: cover;
  opacity: 0.5;
  border-radius: 50%;
}
.empty-text{
  position: absolute;
  top: 50%;
  letter-spacing: 0.18rem}
.form-wrapper {
  width: 60%;
}
.form {
  width: 80%;
}
.heder-label {
  min-width: 150px;
}
.search-bar-wrapper {
  margin-top: 1rem;
  max-width: 100% !important;
}
.search-button {
  background-color: unset;
  border: 1px solid #ced4da;
  border-left: none;
  border-radius: 0.25rem;
}
.input-search {
  border-right: none;
}
.min-width {
  min-width: 5rem;
}
.btn-login {
  font-weight: bold;
  font-size: 1rem;
  min-width: 80px;
  white-space: nowrap;
  width: 20%;
  padding: 0.5rem !important;
  height: auto !important;
  height: 70% !important;
  align-self: center;
}
.header-container {
  display: grid !important;
  width: 100%;
  grid-template-areas:
    "label profile"
    "search  search";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}
.header-container > .header-label {
  grid-area: label;
}
.header-container > .profiles {
  grid-area: profile;
}
.header-container > .search-with-filters {
  grid-area: search;
}
.search-with-filters {
  display: flex;
  flex-direction: column;
  max-width: unset !important;
  margin-top: 1%;
}
.search-bar {
  padding: 1.5rem !important;
  background: none !important;
  border-color: #ffe81f !important;
  box-shadow: 0 0 1px #ffe81f, 0, 0 0 6px #ffe81f, 0 0 12px #ffe81f;
  color: #14a5ff !important;
  font-size: 2rem !important;
  font-weight: 600;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
}
.search-bar::placeholder {
  color: #14a5ff !important;
}
.search-button {
  border: 1px solid #ffe81f !important;
  border-left: none !important;
  color: #14a5ff !important;
  font-size: 2rem !important;
  font-weight: 600;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
}
.filter {
  padding: 1.5rem !important;
  margin-right: 1rem;;
  height: auto !important;
  background: none !important;
  border-color: #ffe81f !important;
  box-shadow: 0 0 1px #ffe81f, 0, 0 0 6px #ffe81f, 0 0 12px #ffe81f;
  color: #14a5ff !important;
  font-size: 2rem !important;
  font-weight: 600;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
}
.filter-option{
  background: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  padding: 0.1rem;
  border: 2px solid black;
}
.filter-option:hover{
  background: #ffe81f !important;
}
.checkboxes-wrapper {
  min-width: 100%;
  max-width: unset !important;
  margin-top: 1rem;
  /* padding-left: 1.25rem !important; */
  justify-content: space-between !important;
}
.characters-container {
  height: 70%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  overflow: auto;
  padding: 3% !important;
}
.pagination {
  width: 70%;
}
.page-link {
  
  font-size: 3rem !important;
  color: #14a5ff;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
  font-weight: 600;
  padding: 0 !important;
  border: unset !important;
  background: unset !important;
}

.page-link:hover {
  background: unset !important;
}
.page-item {
  width: 2rem;
}
.active {
  color: #212529 !important;
  text-shadow: 0 0 6px #ffe81f, 0 0 6px #ffe81f, 0 0 6px #ffe81f,
    0 0 12px #ffe81f;
  background: unset !important;
}
.page-item-selected {
  background-color: #007bff !important;
  opacity: 0.7;
  color: #fff !important;
}
.navigation {
  min-height: 20%;
}
.character-container {
  min-height: 20rem;
  text-align: center;
  border: 3px solid #ffe81f;
  border-radius: 10px;
  left: 50%;
  box-shadow: 0 0 1px #ffe81f, 0 0 2px #ffe81f, 0 0 6px #ffe81f,
    0 0 12px #ffe81f, inset 0 0 1px #ffe81f, inset 0 0 2px #ffe81f,
    inset 0 0 6px #ffe81f, inset 0 0 12px #ffe81f !important;
  border-radius: 5rem;
  font-size: 2.5rem;
  
  color: #ffe81f;
  background: rgba(0, 0, 0, 1);
}
.characters-container:hover {
  cursor: pointer;
  text-decoration: none;
}
.main-container-wrapper {
  width: 90% !important;
  box-shadow: 0 0 8px #ffe81f, 0 0 81px #ffe81f, 0 0 81px #ffe81f,
    0 0 72px #ffe81f, inset 0px 11px 8px -10px #ffe81f,
    inset 0px -11px 8px -10px #ffe81f;   
}
.main-container-wrapper::-webkit-scrollbar {
  width: 1rem;
}

.main-container-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #22cef9; 
  border-radius: 10px;
}

.main-container-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px  #22cef9; 
}
.btn-filter {
  margin-right: 3rem
}
.btn-filter::after {
  display: none !important;
}
.character-name {
  
  font-size: 2rem;
  color: #14a5ff;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
  font-weight: 600;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.character-image-wrapper {
  max-height: 50%;
  border-radius: 8px 8px 0 0;
}
.character-information-wrapper {
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  padding: 1rem;
}
.rating {
  width: 90%;
  height: 70%;
  align-items: center !important;
}
.show-details {
  width: 90%;
  height: 20%;
  min-height: 4rem;
}
.character-image-wrapper {
  display: flex;
}
.character-title {
  font-size: 2.5vh;
  font-weight: 600;
  width: 90%;
  color: #1a1b1d;
}
.character-description {
  font-size: 1.5vh;
  width: 90%;
  color: #9194a5;
  font-weight: 600;
}
.character-unavailable {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.button-unavailable {
  background: #b9bdcf !important;
  cursor: default !important;
  border: none !important;
}
.search-with-filters {
  padding: 0 !important;
}
.page-item:hover {
  cursor: pointer;
}

.character-image-wrapper-details {
  max-height: 75% !important;
}
.top {
  top: 8%;
  height: 2rem;
}
.height-0 {
  height: 0;
}
.main-container {
  height: 90%;
  background-color: #f8f8fa;
  padding: 5%;
}
.characters-container-wrapper {
  height: 80% !important;
}
.character-container-empty {
  background-color: #ffffff;
  border-radius: 8px;
}
.empty-label {
  color: #1a1b1d;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
.custom-control-label::before,
.custom-control-label::after {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.custom-control-label {
  padding-left: 0.5rem;
  top: 10px;
}
.custom-control-label::before {
  top: 0px !important;
}
.custom-control-label::after {
  top: 0 !important;
}
.custom-control-label-text {
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
}
@media (min-width: 576px) {
  .img-login {
    display: flex;
  }
  .img-wrapper {
    width: 40%;
  }
  .form {
    width: 60%;
    margin-right: 10%;
  }
  .input-login {
    background: unset !important;
    padding: 1.5rem !important;
    border-color: #ffe81f !important;
    box-shadow: 0 0 1px #ffe81f, 0 0 1px #ffe81f, 0 0 6px #ffe81f, 0 0 12px #ffe81f;
    margin-bottom: 1rem !important;
    text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,  0 0 12px #22cef9;
    color: #14a5ff !important;
    font-size: 1rem !important;
      }
  .input-login::placeholder {
    text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
    color: #14a5ff !important;
  }
  .input-login::placeholder:focus {
    text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;

  }

  .spinner-border {
     width: 5rem !important;
     height: 5rem !important;
     box-shadow: 0 0 1px #22cef9, 0 0 1px #22cef9, 0 0 61px #22cef9, 0 0 112px #22cef9;
     color: #14a5ff !important; 
     }
  .form-check{
    padding: 0 !important;
  }
  @media (min-width: 576px) {
    .characters-container {
      height: 70%;
      background: rgba(0, 0, 0, 0.7);
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
      overflow: auto;
      padding: 3% !important;
    }
    .profile-picture {
      margin-right: 0 !important;
    }
    .search-bar-wrapper {
      min-width: 100% !important;
      margin-top: 0;
    }
    .checkboxes-wrapper {
      max-width: unset !important;
      width: 100%;
      padding: 0 !important;

    }

    .character-title {
      font-size: 1.9vh;
      font-weight: 600;
      width: 90%;
      color: #1a1b1d;
    }
    .character-description {
      font-size: 1.2vh;
      width: 90%;
      color: #9194a5;
      font-weight: 600;
    }
    .character-container {
      /* height: 40rem; */
    }
    .page-item {
      width: 3rem;
    }
    .profiles {
      padding: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .img-login {
      display: flex;
    }
    .img-wrapper {
      width: 70%;
    }
    .form {
      width: 60%;
      margin-right: 10%;
    }
    .character-title {
      font-size: 2.2vh;
    }
    .character-description {
      font-size: 1.5vh;
    }
  }
  .checkboxes-wrapper {
    min-width: 50% !important;
    justify-content: space-around;

    margin-top: 1rem;
    /* padding-left: 1.25rem !important; */
  }

}
@media (min-width: 992px) {
  .characters-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .character-title {
    font-size: 1.4vh;
  }
  .character-description {
    font-size: 1vh;
  }
  .page-item {
    width: 4rem;
  }
  .header-container {
    display: flex !important;
    flex-direction: row;
  }
  .search-with-filters {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
  }
  .custom-control {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  .custom-checkbox {
    display: flex !important;
    align-self: center;
    margin-right: 2.5rem;
  }
  .ReactModal__Content {
    width: 30% !important;
    height: 50% !important;
  }
  .btn-login {
    margin-right: 10%;
    height: 100% !important;
    align-self: center;
    box-shadow: 0 0 1px #ffe81f, 0 0 2px #ffe81f, 0 0 6px #ffe81f,
    0 0 12px #ffe81f, inset 0 0 1px #ffe81f, inset 0 0 2px #ffe81f,
    inset 0 0 6px #ffe81f, inset 0 0 12px #ffe81f !important;
  }
  .login-title{
    left: 50%;
    font-size: 3rem !important;
    font-weight: 600 !important;
    
    color: #ffe81f;
    background: unset !important;
  }
  .login-name{
    font-size: 6rem !important;
  }
  .forgot-password{
    font-size: 1.5rem !important;
  }
  .checkboxes-wrapper {
    min-width: 50% !important;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 1.25rem !important;
  }
  .character-conteiner-details {
    font-size: calc(1.5vw + 1.5vh + 1vmin) !important;
  
  }
  .character-name-details {
     font-size: calc(2vw + 2vh + 1vmin) !important;
  }
}

@media (min-width: 1200px) {
  .characters-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .character-title {
    font-size: 1.9vh;
  }
  .character-description {
    font-size: 1.2vh;
  }
}
@media (min-width: 1600px) {
  .characters-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .character-title {
    font-size: 2vh;
  }
  .character-description {
    font-size: 1.3vh;
  }
}
